#filament-phpinfo-widget tr:not(:last-child) {
    border-bottom: 1px #ccc solid;
}

#filament-phpinfo-widget td.e,
#filament-phpinfo-widget td.v,
#filament-phpinfo-widget tr.h th {
    word-break: break-all;
}

#filament-phpinfo-widget td.e {
    width: calc(25%);
    max-width: calc(25%);
    font-weight: 600;
}

#filament-phpinfo-widget td.v {
    width: auto;
}

#filament-phpinfo-widget tr.h th {
    width: calc(100% / 3);
    max-width: calc(100% / 3);
    font-weight: 600;
}
